* {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-family: 'Monaco', monospace;
    color: rgb(209, 102, 85);
}

img {
    display: block;
    margin: auto;
}

#animation {
    width: auto%;
    height: 400px;
}