h1 {
    font-weight: bold;
    font-family: 'Monaco', monospace;
    color: rgb(209, 102, 85);
}

.center {
    text-align: center;
}

#animation {
    width: auto;
    height: 400px;
    display: block;
    margin: auto;
}

#recipes-list {
    list-style-type: none;
    text-align: center;
}